<image-gallery data-id="{{ block.id }}">
<div class="container">

  <div class="head">
    <div class="chip-bar-wrapper">
      <div class="label-chip-bar">
        Your ideal size: 
        <span class="size">
         xl
        </span>
      </div>
    </div>
    
    <div class="title-text-wrapper">
      <div class="title-text">
      </div>
      <div class="tag-text">
        awesome
      </div>
    </div>
  </div>

  <div class="carousel">
    <div class="carousel-btn">
      <button class="arrow-btn">
        <img src="{{ 'Arrow_backward.png' | asset_url }}" loading="lazy" width="10" height="10" class="arrow_icon">
      </button>
    </div>

    <div class="product-container"></div>

    <div class="carousel-btn">
      <button class="arrow-btn">
        <img src="{{ 'Arrow_forward.png' | asset_url }}" loading="lazy" width="10" height="10" class="arrow_icon">
      </button>
    </div>
  </div>

</div>
</image-gallery>

{% schema %}
  {
    "name": "Image Gallery",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "image-gallery.js",
    "templates": ["product", "index", "cart", "page"],
    "settings": []
  }
{% endschema %}
