<div>
    <h1>This is cart block</h1>
</div>
    
    {% schema %}
      {
        "name": "Cart block",
        "target": "section",
        "javascript": "cart-data-ajax.js",
        "templates": ["product", "cart"],
        "settings": []
      }
    {% endschema %}
    