<!-- <cart-data-ajax data-id="{{ block.id }}">
    <div class="cart-container">
      <div class="cart-head">
        <div class="heading-text">
          MORE FOR YOU
        </div>
        <div class="more-link">
       
        </div>
      </div>
    
      <div class="cart-product-container">
      </div>
    </div>
  </cart-data-ajax> -->

  <div>
    <h1>This is the search block</h1>
  </div>
      
  {% schema %}
    {
      "name": "Search block",
      "target": "section",
      "javascript": "search-block.js",
      "stylesheet": "search-block.css",
      "templates": ["search"],
      "settings": []
    }
  {% endschema %}
      